.connected {
    color: rgb(47, 193, 34);
}

.disconnected {
    color: rgb(227, 10, 10);
}

.connection {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.logo {
    font-size: 1.5em;
}

.throughput {
    font-family: monospace;
}

.time-series {
    margin: 2rem;
}

.chart-header {
    display: flex;
    margin-bottom: 1em;
}

.chart-button {
    margin-left: auto;
    width: 4em;
}

.average {
    margin-left: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.button-icon {
    font-size: 0.9em;
}

.footer-text {
    color: white;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.footer-item {
    padding-top: 1em;
    padding-bottom: 1em;
}